* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

html {
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}



.container {
  max-width: 1200px;
  margin: 200px auto 40px;
  padding: 0px ;
  background-color: rgb(228, 227, 227);

}

body {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {

  background-image: url(https://www.npru.ac.th/2019/img/slide/banner1920x600-04.jpg);
  color: white;
  background-size: cover;
  margin: 16px;
 
  box-shadow: 5px 5px 15px grey;
  flex-direction: column;
  
    
  


}







.menu {
  background-color: rgb(228, 227, 227);
 
  margin: 16px;
}

.menu p {
  background-color: rgb(146, 144, 144);
  text-align: center;
  padding: 16px;
  margin: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 16px;
}

.page {
  background-color: rgb(255, 253, 249);
}

.btn-text-link {
  list-style: none;
  padding: 10px 10px gap: 20px;
  margin-top: 20px;
}

.btn-text-link li {
  max-width: 15px 0px;
  transition: transform 0.30s ease;
}


.btn-text-link li:hover {
  transform: translateY(-15px);
}


.btn-text-link a {

  background: linear-gradient(135deg, red, rgb(255, 140, 8));
  box-shadow: 0 4px 6px rgba(109, 109, 109, 109);
  padding: 10px 40px;
  border-radius: 20%;
  text-decoration: none;
  font-weight: bold;
  margin: 8px;

}

.btn-text-link a:hover {
  /* background-color: #f5a12c;
  /*เปลี่ยนสีเมื่อเมาส์ชี้*/
  /* cursor: pointer; เมาส์รูปมือ */
  background: linear-gradient(135deg, rgb(109, 0, 252), rgb(255, 95, 215));

}

.table {
  background-color: rgb(255, 255, 255);
  padding: 32px 0;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: center;
  /* กึ่งกลางแนวนอน */
  vertical-align: middle;
  /* กึ่งกลางแนวตั้ง */
}

th {
  background-color: rgba(126, 186, 255, 0.76);
  padding: 16px 0;
}

td {
  background-color: rgb(231, 240, 255);
  padding: 8px 0;
}

tr per {
  margin: 16px;
  padding: 16px;
  background-color: slategrey;
  color: #ffffff;
}

p {
  margin: 16px;
 
  background-color: slategrey;
  color: #ffffff;
}